<div class="title">
        <h1>Ruby Chat</h1>
        <p>Editor View</p>
    </div>

    <div style="text-align:center">
        <p><strong>Fill and submit the form below to create a new post</strong></p>

        <form method="POST" action="/chat/store" enctype="multipart/form-data" class="post-form">
            <%= token_tag %>

         
           
            <div class="form-group">
                <label for="message">Create Message</label>
                <textarea name="message" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="from-group">
                <div><input type="submit" value="Send Message"></div>
            </div>


        </form>

    </div>